@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    background-color: #f1f1ef;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
    font-size: 1rem;
    font-weight: 400;
    color: #221e1f;
}

a {
    font-size: 1rem;
    font-weight: 400;
    color: #221e1f;
    text-decoration: none;
}

ul {
    list-style: none;
}

input {
    font-family: 'Pretendard', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    color: #221e1f;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

input::-webkit-input-placeholder {
    font-size: 0.875rem;
    font-weight: 400;
    color: #ccc;
}

input:-moz-placeholder {
    font-size: 0.875rem;
    font-weight: 400;
    color: #ccc;
}

input::-moz-placeholder {
    font-size: 0.875rem;
    font-weight: 400;
    color: #ccc;
}

input:-ms-input-placeholder {
    font-size: 0.875rem;
    font-weight: 400;
    color: #ccc;
}

input::-ms-input-placeholder {
    font-size: 0.875rem;
    font-weight: 400;
    color: #ccc;
}

input::placeholder {
    font-size: 0.875rem;
    font-weight: 400;
    color: #ccc;
}

button {
    font-size: 0.875rem;
    font-weight: 400;
    font-family: 'Pretendard', sans-serif;
    cursor: pointer;
    -webkit-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

table {
    font-size: 1rem;
    border-collapse: collapse;
}

select {
    font-family: 'Pretendard', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    background: url(../img/select_arrows.png) no-repeat 95% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #221e1f;
}

select::-ms-expand {
    display: none;
}

textarea {
    font-family: 'Pretendard', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    color: #221e1f;
}

textarea::-webkit-input-placeholder {
    font-size: 0.875rem;
    font-weight: 300;
    color: #ccc;
}

textarea:-moz-placeholder {
    font-size: 0.875rem;
    font-weight: 300;
    color: #ccc;
}

textarea::-moz-placeholder {
    font-size: 0.875rem;
    font-weight: 300;
    color: #ccc;
}

textarea:-ms-input-placeholder {
    font-size: 0.875rem;
    font-weight: 300;
    color: #ccc;
}

textarea::-ms-input-placeholder {
    font-size: 0.875rem;
    font-weight: 300;
    color: #ccc;
}

textarea::placeholder {
    font-size: 0.875rem;
    font-weight: 300;
    color: #ccc;
}

@media all and (max-width: 376px) {
    select {
        font-size: 0.8125rem;
    }

    input {
        font-size: 0.8125rem;
    }

    input::-webkit-input-placeholder {
        font-size: 0.8125rem;
    }

    input:-moz-placeholder {
        font-size: 0.8125rem;
    }

    input::-moz-placeholder {
        font-size: 0.8125rem;
    }

    input:-ms-input-placeholder {
        font-size: 0.8125rem;
    }

    input::-ms-input-placeholder {
        font-size: 0.8125rem;
    }

    input::placeholder {
        font-size: 0.8125rem;
    }

    textarea {
        font-size: 0.8125rem;
    }

    textarea::-webkit-input-placeholder {
        font-size: 0.8125rem;
    }

    textarea:-moz-placeholder {
        font-size: 0.8125rem;
    }

    textarea::-moz-placeholder {
        font-size: 0.8125rem;
    }

    textarea:-ms-input-placeholder {
        font-size: 0.8125rem;
    }

    textarea::-ms-input-placeholder {
        font-size: 0.8125rem;
    }

    textarea::placeholder {
        font-size: 0.8125rem;
    }
}

@media all and (max-width: 321px) {
    select {
        font-size: 0.75rem;
    }

    input::-webkit-input-placeholder {
        font-size: 0.75rem;
    }

    input:-moz-placeholder {
        font-size: 0.75rem;
    }

    input::-moz-placeholder {
        font-size: 0.75rem;
    }

    input:-ms-input-placeholder {
        font-size: 0.75rem;
    }

    input::-ms-input-placeholder {
        font-size: 0.75rem;
    }

    input::placeholder {
        font-size: 0.75rem;
    }

    textarea::-webkit-input-placeholder {
        font-size: 0.75rem;
    }

    textarea:-moz-placeholder {
        font-size: 0.75rem;
    }

    textarea::-moz-placeholder {
        font-size: 0.75rem;
    }

    textarea:-ms-input-placeholder {
        font-size: 0.75rem;
    }

    textarea::-ms-input-placeholder {
        font-size: 0.75rem;
    }

    textarea::placeholder {
        font-size: 0.75rem;
    }
}
