@charset "UTF-8";

:root {
    --black: #181818;
    --gray: #545454;
    --litegray: #cecece;
    --litegray2: #818181;
    --litegray3: #eaeaea;
    --white: #fff;
    --blue: #246eb8;
    --red: #d33a2a;
    --purple: #9d3fe7;
    --green: #226b5f;
    --yellow: #f7b32b;
    --orange: #ff9600;
}

.hiddentag {
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}

/* #my-scrollbar {
    max-height: 100vh;
} */

/* INPUT */
.list_input {
    width: 100%;
    height: 55px;
    position: relative;
}

.list_input > input {
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 0.9375rem;
    color: #000;
}

@media all and (max-width: 481px) {
    .list_input > input {
        font-size: 0.875rem;
    }
}

/* INPUT END */

/* FILE */
/* FILE EMD */

/* BUTTON */
.wedding_btn {
    width: 100%;
    height: 40px;
    position: relative;
    margin-bottom: 10px;
}

.wedding_btn:last-of-type {
    margin-bottom: 0;
}

.wedding_btn > a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: #fff;
    background-color: #a7b8c8;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.wedding_btn2 > a {
    background-color: #f1f1ef;
    color: #a7b8c8;
    border: 2px solid #a7b8c8;
}

.select_btn {
    width: 100%;
    height: 40px;
    position: relative;
}

.select_btn > button {
    width: 100%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid #a7b8c8;
    background-color: #fff;
    color: #a7b8c8;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.select_btn > button > span {
    width: 23px;
    height: 21px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    margin-right: 10px;
}

.select_btn.groom_select > button > span {
    background-image: url(../img/groom_icon.png);
}

.select_btn.bride_select > button > span {
    background-image: url(../img/bride_icon.png);
}

.select_btn.active > button {
    background-color: #a7b8c8;
    color: #fff;
}

.select_btn.groom_select.active > button > span {
    background-image: url(../img/groom_icon_on.png);
}

.select_btn.bride_select.active > button > span {
    background-image: url(../img/bride_icon_on.png);
}

.popup_btn {
    width: 80px;
    height: 35px;
    position: relative;
}

.popup_btn > button {
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #a7b8c8;
    background-color: #fff;
    color: #a7b8c8;
}

.popup_btn.submit_btn > button {
    background-color: #a7b8c8;
    color: #fff;
}

@media all and (max-width: 481px) {
    .wedding_btn > a {
        font-size: 0.875rem;
    }
}

@media all and (max-width: 321px) {
    .wedding_btn > a {
        font-size: 0.8125rem;
    }
}

/* BUTTON END */

/* SELECT */
/* SELECT END */

/* CHECKBOX */
/* CHECKBOX END */

/* RADIOBOX */
/* RADIOBOX END */

/* TEXTAREA */
/* TEXTAREA END */

/* PAGING BOX */
.paging_con {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 50px;
}

.paging_con .paging_box {
    width: 100%;
    height: auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.paging_con .paging_box .paging_arrows {
    width: 40px;
    height: 40px;
    position: relative;
}

.paging_con .paging_box .paging_arrows > a {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: auto auto;
    background-size: auto;
    border: 1px solid #cacaca;
    border-radius: 5rem;
}

.paging_con .paging_box .paging_arrows_lt > a {
    background-image: url(../img/paging_arrows_prev.png);
}

.paging_con .paging_box .paging_arrows_gt > a {
    background-image: url(../img/paging_arrows_next.png);
}

.paging_con .paging_box .paging_arrows > a:hover {
    background-color: #6343f5;
    border-color: #6343f5;
}

/* .paging_con .paging_box .paging_arrows_lt > a:hover {
    background-image: url(../img/paging_arrows_lt_on.png);
}

.paging_con .paging_box .paging_arrows_gt > a:hover {
    background-image: url(../img/paging_arrows_gt_on.png);
} */

.paging_con .paging_box .paging_number {
    width: auto;
    height: auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 10px;
}

.paging_con .paging_box .paging_number > li {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 5px;
}

.paging_con .paging_box .paging_number > li > a {
    width: 100%;
    height: 100%;
    font-size: 0.9375rem;
    font-weight: 600;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 5rem;
    color: #fff;
}

.paging_con .paging_box .paging_number > li > a:hover,
.paging_con .paging_box .paging_number > li.active > a {
    background-color: #6343f5;
    color: #fff;
}

@media all and (max-width: 481px) {
    .paging_con {
        margin-top: 30px;
    }

    .paging_con .paging_box .paging_arrows,
    .paging_con .paging_box .paging_number > li {
        width: 35px;
        height: 35px;
    }

    .paging_con .paging_box .paging_number > li > a {
        font-size: 0.8125rem;
    }
}

@media all and (max-width: 376px) {
    .paging_con .paging_box .paging_arrows,
    .paging_con .paging_box .paging_number > li {
        width: 30px;
        height: 30px;
    }

    .paging_con .paging_box .paging_arrows > a {
        -webkit-background-size: 5px 5px;
        background-size: 5px;
    }

    .paging_con .paging_box .paging_number > li {
        margin: 0 2.5px;
    }

    .paging_con .paging_box .paging_number > li > a {
        font-size: 0.6875rem;
    }
}

@media all and (max-width: 321px) {
    .paging_con {
        margin-top: 29px;
    }

    .paging_con .paging_box .paging_arrows,
    .paging_con .paging_box .paging_number > li {
        width: 25px;
        height: 25px;
    }
}

/* PAGING BOX END */
